src/Lab6GUI/Lab6GUI/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49319/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49319/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Calculate_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="IService1_Calculate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sin_InputMessage">
    <wsdl:part name="parameters" element="tns:Sin" />
  </wsdl:message>
  <wsdl:message name="IService1_Sin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Cos_InputMessage">
    <wsdl:part name="parameters" element="tns:Cos" />
  </wsdl:message>
  <wsdl:message name="IService1_Cos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Exp_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp" />
  </wsdl:message>
  <wsdl:message name="IService1_Exp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Calculate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Calculate" message="tns:IService1_Calculate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculateResponse" message="tns:IService1_Calculate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sin" message="tns:IService1_Sin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SinResponse" message="tns:IService1_Sin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Cos" message="tns:IService1_Cos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CosResponse" message="tns:IService1_Cos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Exp" message="tns:IService1_Exp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExpResponse" message="tns:IService1_Exp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/IService1/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sin">
      <soap:operation soapAction="http://tempuri.org/IService1/Sin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cos">
      <soap:operation soapAction="http://tempuri.org/IService1/Cos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp">
      <soap:operation soapAction="http://tempuri.org/IService1/Exp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49319/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>